<h3>Buscar por region <small>{{regionActiva | titlecase}}</small></h3>
<hr>

<h5>Seleccione una region</h5>

<div class="row">
    <div class="col">
        <button 
            *ngFor="let item of regiones" 
            class="btn btn-outline"  
            (click)="activarRegion(item)"
            [class] = getCssClass(item)
            >
            {{ item | titlecase }}
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <app-table [countrys]="Countrys" [error]="error"></app-table>
    </div>
</div>